body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
   
    /* background-image: url(istockphoto-1151367251-612x612.jpg);
    background-size: cover; */
}
  
  .login-container {
    width: 500px;
    margin-top: 80px;
    margin-left:auto;
    margin-right:auto;
    /* margin-down:25px; */
    background-image: url(pngtree-3d-world-map-with-shadow-light-image_329158.jpg);
    background-size: cover;
    padding: 20px;
    border: 1px solid #b4abab;
    border-radius: 5px;
    background-color: #fff;
    
  
  }
  .login-container:hover {
    border: 1px solid goldenrod;

  }
  
  h1 {
    text-align: center;
  }
  h3{
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    width:100%;

  }
  
  input[type="text"],
  input[type="password"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 80%; 
    margin-left:10%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 